<!-- Sidebar -->
<div class="side-bar">
    <div class="menu">
        <div class="item"><a routerLink="home"><i class="fas fa-desktop"></i>Dashboard</a></div>
        <div class="item">
            <a class="sub-btn">
                <i class="fas fa-table"></i>Reports <i class="fas fa-angle-right dropdown"></i>
            </a>
            <div class="sub-menu sub-menu-show">
                <a routerLink="main" class="sub-item">Item 01</a>
                <a routerLink="user-profile" class="sub-item">Item 02</a>
                <a routerLink="user-profile" class="sub-item">Item 03</a>
            </div>
        </div>
        <div class="item"><a routerLink="home"><i class="fas fa-th"></i>Forms</a></div>
        <div class="item"><a routerLink="home"><i class="fas fa-user"></i>User Profile</a></div>
        <div class="item"><a routerLink="home"><i class="fas fa-info-circle"></i>About</a></div>
    </div>
</div>

